<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

   <!--代替上面的两个功能，并且还有其他功能-->
    <mvc:annotation-driven/>


    <!--视图解析器-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/WEB-INF/"/>-->
        <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->

    <bean  class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath">
            <value>/WEB-INF/</value>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="contentType" value="text/html;charset=UTF-8"></property>
        <property name="suffix" value=".html" />
    </bean>
    <!--自动扫包-->
    <context:component-scan base-package="net.jiguo" />
    <!--静态资源处理-->
    
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/img/**" location="/img/"/>

    <!--将静态资源交由默认的servlet处理-->
    <mvc:default-servlet-handler />

    <!--向容器自动注入配置-->
    <context:annotation-config />
    <!--自动扫描，使springMVC认为包下用了@controller注解的类是控制器-->
    <context:component-scan base-package="net.jiguo"/>
    <!--重要！将你的SwaggerConfig配置类注入-->
    <bean class="net.jiguo.config.SwaggerConfig"/>
    <!--重要！配置swagger资源不被拦截-->
    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/" />
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/" />

    <!--&lt;!&ndash; 配置拦截器 &ndash;&gt;-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--&lt;!&ndash; 拦截所有mvc控制器 &ndash;&gt;-->
            <!--<mvc:mapping path="/**"/>-->

            <!--&lt;!&ndash; mvc:exclude-mapping是另外一种拦截，它可以在你后来的测试中对某个页面进行不拦截，这样就不用在-->
                <!--LoginInterceptor的preHandler方法里面获取不拦截的请求uri地址了(优选) &ndash;&gt;-->
            <!--<mvc:exclude-mapping path="/login" />-->
            <!--<mvc:exclude-mapping path="/checkLogin" />-->
            <!--<mvc:exclude-mapping path="/play/*" />-->
            <!--<mvc:exclude-mapping path="/guid/*" />-->
            <!--<mvc:exclude-mapping path="/report/*" />-->
            <!--<mvc:exclude-mapping path="/use/*" />-->
            <!--<bean class="net.jiguo.interator.LoginInterator"></bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
</beans>